doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Noom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css@1.12/mvp.css")
    body 
        header 
            h1 Noom
        main   
            //메시지 리스트 표출
            ul 
            //메시지 입력
            form
                input(type="text",placeholder = "input a msg" ,required)
                button send
        script(src="/public/js/app.js") 