doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Noom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css@1.12/mvp.css")
    body 
        header 
            h1 Zoom Clone 
        main   
            die#welcome    
                form
                    input(type="text", name="",placeholder="room name",required,id = "room_name")
                    button Enter Room
            div#call
                div#myStrem
                    video#myFace(autoplay,playsinline,width="400",height="400")
                    button#mute mute
                    button#camera On
                    select#cameras
                        option(value="device") Face Camera      
                    video#peerStream(autoplay,playsinline,width="400",height="400")    

        //socket io chat html
        //- header 
        //-     h1 Noom
        //- main   
        //-     div#welcome
        //-         form
        //-             input(type="text", name="",placeholder="room name",required,id = "room_name")
        //-             input(type="text", name="",placeholder="nick name",required,id = "nick")
        //-             button Enter Room
        //-             h4 Open Room 
        //-             ul
        //-     div#room
        //-         h3
        //-         ul
        //-         form#message 
        //-             input(type="text", name="",placeholder="message",required)
        //-             button Send 
        script(src="/socket.io/socket.io.js") 
        script(src="/public/js/app.js") 